.fullscreen {
  video {
    width: 100%;
    height: 100vh;
  }
}
.formContent {
  margin-top: 90px;
  padding: 2rem;
}

.field {
  button {
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: bold;
  }
}
